.btn {
  padding-left: 0px;
  text-decoration: none;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 15px;
}


.card-header {
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #fff3cd;
}


.col1-1 {
  height: 45px;
}

.col1 {
  height: 15px;
}

.col-8 {
  text-align: center;
}

.card-result {
  height: 38px;
  font-size: 15px;
  text-align: center;
}
